Repository FajarKim/bz2-shell, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, doc-translation, documentation, tools-linux, tools-termux, ci

ci: Add stale.yml
  .github/stale.yml
Labels: none

ci: Add label-pr.yml
  .github/workflows/label-pr.yml
Labels: ci

fix: Update uninstall tool for Termux
  tools/Termux/uninstall.sh
Labels: tools-termux

fix: Update upgrade tool for Termux
  tools/Termux/upgrade.sh
Labels: tools-termux

fix: Update install tool for Termux
  tools/Termux/install.sh
Labels: tools-termux

fix: Update install tool for Linux
  tools/Linux/install.sh
Labels: tools-linux

fix: Update uninstall tool for Linux
  tools/Linux/uninstall.sh
Labels: tools-linux

fix: Update upgrade tool for Linux
  tools/Linux/upgrade.sh
Labels: tools-linux

docs(readme): add link for release version this tool
  README.md
  docs/README-ID.md
  docs/README-KR.md
Labels: doc-translation, documentation

docs(readme): Added information to instruction for use regarding upgrade and uninstall commands
  README.md
  docs/README-ID.md
  docs/README-KR.md
Labels: doc-translation, documentation

fix: update bug for notice upgrade this tool in Termux
  tools/Termux/uninstall.sh
  tools/Termux/upgrade.sh
Labels: tools-termux

fix: update bug for notice upgrade this tool in Linux
  tools/Linux/uninstall.sh
  tools/Linux/upgrade.sh
Labels: tools-linux

fix: update bug for uninstall tool in Termux
  tools/Termux/uninstall.sh
Labels: tools-termux

fix: update bug for uninstall tool in Linux
  tools/Linux/uninstall.sh
Labels: tools-linux

docs(readme): fix typo
  README.md
  docs/README-ID.md
  docs/README-KR.md
Labels: doc-translation, documentation

docs(readme): fix link for license
  docs/README-ID.md
  docs/README-KR.md
Labels: doc-translation

docs(readme): fix link for license
  docs/README-ID.md
Labels: doc-translation

chore: fixed code for check and run upgrade
  bzsh.sh
  tools/Linux/upgrade.sh
  tools/Termux/upgrade.sh
Labels: enhancement, tools-linux, tools-termux

chore: fixed code for check and run upgrade (#2)
  bzsh.sh
  tools/Linux/upgrade.sh
  tools/Termux/upgrade.sh
Labels: enhancement, tools-linux, tools-termux

chore: fixed small typo in install script
  tools/Linux/install.sh
  tools/Termux/install.sh
Labels: tools-linux, tools-termux

chore: fixed small typo in install script (#3)
  tools/Linux/install.sh
  tools/Termux/install.sh
Labels: tools-linux, tools-termux

docs: added `curl` install in installation step
  README.md
  docs/README-ID.md
  docs/README-KR.md
Labels: doc-translation, documentation

.github/labeler.yml:

enhancement: bzsh.sh
doc-translation: docs/*
documentation: README.md
tools-linux: tools/Linux/*
tools-termux: tools/Termux/*
ci: .github/workflows/*
